{% extends 'myapp/users/base.html' %}
{% block title %}
Edit
{% endblock %}
{% block content %}
<h3>编辑用户信息</h3>
<form action="{% url 'updateusers' %}" method="post">
    {% csrf_token %}
    <input name="id" type="hidden" value="{{users.id}}">
    <table border="0" width="280">
        <tr>
            <td>姓名:</td>
            <td><input name="name" type="text" value="{{users.name}}"></td>
        </tr>
        <tr>
            <td>年龄:</td>
            <td><input name="age" type="text" value="{{users.age}}"></td>
        </tr>
        <tr>
            <td>电话:</td>
            <td><input name="phone" type="text" value="{{users.phone}}"></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" value="修改">
                <input type="reset" value="重置">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
