{% extends 'myapp/users/base.html' %}
{% block title %}
Index
{% endblock %}
{% block script %}
<script>
        function doDel(uu){
            if(confirm("确定要删除嘛？")){
                window.location=uu;
            }
        }

</script>
{% endblock %}
{% block content%}
<h3>浏览用户信息</h3>
<table width="800px" border="1">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>电话</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    {% for user in userslist %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.addtime}}</td>
        <td>
            <a href="{% url 'editusers' user.id %}">编辑</a>
            <a href="javascript:doDel('{% url 'delusers' user.id %}');">删除</a></td>
    </tr>
    {% endfor%}
</table>
{% endblock %}