.idea
.coverage
.vscode
/media/
collectstatic
/project/settings/prod.py
/project/settings/develop.py
/project/settings/docker_local.py
logs/*.log
static
requirements.txt.bak
pretrained_models
# 用户账单文件存储路径
/Assets/
# zh_core_web_md-3.8.0-py3-none-any.whl

# __pycache
__pycache__/
project/__pycache__/
translate/__pycache__/
translate/migrations/__pycache__/
conf/__pycache_/
htmlcov/
uwsgi.pid
fixtures/*.sql
beancount-trans-backend.tar
training_data.jsonl
reports/
uploads/
