aliyun-python-sdk-dysmsapi==2.1.2
async-timeout==5.0.1
beancount==3.2.0
boto3==1.42.33
chardet==5.2.0
django-allauth==65.14.0
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-filter==25.2
django-mptt==0.18.0
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-redis==6.0.0
djangorestframework_simplejwt==5.5.1
docker==7.1.0
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.1.1
fido2==2.1.1
flower==2.0.1
langcodes==3.5.1
minio==7.2.20
openai==2.15.0
openpyxl==3.1.5
oss2==2.19.1
pandas==3.0.0
pdfplumber==0.11.9
phonenumbers==9.0.22
pipenv==2026.0.3
psycopg2-binary==2.9.11
PyPDF2==3.0.1
pypng==0.20220715.0
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-html==4.2.0
pytest-xdist==3.8.0
python-dotenv==1.2.1
python3-openid==3.2.0
qrcode==8.2
requests-oauthlib==2.0.0
spacy==3.8.11
torch==2.10.0
transformers==4.57.6
typer==0.21.1
uWSGI==2.0.31
