<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>uploadFile</title>
</head>
<body>
<form action="upload" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    用户名：<input name="user" type="text"><br>
    年龄：<input name="age" type="text"><br>
    <div>
        <label for="file">请选择文件:</label>
        <input id="file" name="file" type="file"><br><br>
    </div>
    <input type="submit" value="提交">
</form>
<img alt="myimage" image src={{ }}>
<h1>{{ latest_question_list }}</h1>
</body>
</html>